<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <img src="../assets/img/logo.png" class="logo">
    <a class="navbar-brand  fs-1 ms-4" href="#">&lt;/&gt; Desarollador full stack</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">Proyectos</a>
        </li>
      </ul>
        @if(!authService.loggedIn()){
        <button class="btn btn-outline-success mx-3"  (click)="signin()">Ingresar</button>
        <button class="btn btn-outline-success mx-3"  (click)="signup()">Registrarse</button>
        }@else {
          <button class="cuenta-header2 bg-transparent border-success text-success py-2 px-3" [matMenuTriggerFor]="account">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="text-truncate mx-2">{{user?.name}}</span>
            <mat-menu #account="matMenu">
              <button mat-menu-item >Mi perfil</button>
              <button mat-menu-item (click)="authService.logout()">Cerrar sesión</button>
            </mat-menu>
          </button>
        }
    </div>
  </div>
</nav>
<div class="router">
  <router-outlet />
</div>


<footer class="footer text-muted">
  <div class="container">
      &copy; 2024 - Portfolio  - Kevin
  </div>
</footer>