<div class="container">
    <div class="home">
        <div class="align-items-center d-flex justify-content-center  text-center  text-white">
            <div class="text-uppercase  text-white text-opacity-75 me-md-5 fs-2-sm ">
                <h1 class="name" >Kevin Victor</h1>
                <h1 class="name">Mamani Mamani</h1>
            </div>
            
    
    
            <img src="../../../assets/img/profile.jpg" alt="foto de kevin" class="foto" />
        </div>
    
        <div class=" justify-content-center text-center align-items-center bg-dark bg-opacity-50 d-flex content-i mx-md-5 ">
            <div class="col col-md-7 mx-md-1 my-5  information">
                <h1>MI DESCRIPCIÓN</h1>
                <p  class="fs-5 text-white text-opacity-75">
                    Bachiller de la carrera de ingeniería de sistemas de la Universidad Andina Néstor Cáceres Velázquez. 
                    Con alta capacidad de aprendizaje, predisposición de trabajo ágil y trabajo en equipo. Comprometido para seguir 
                    mejorando en el trabajo y lograr los objetivos. Apasionado por la creación de video juegos, diseño web y desarrollo de software.
                </p>
            </div>
    
        </div>
    
        <div class="row justify-content-center text-center">
            <div class="col-10 col-sm-6 col-md-4 habilidades bg-dark bg-opacity-75">
                <i class="bi bi-hdd-rack"></i>
                <h3 class="fs-1 text-white text-opacity-75">BACKEND</h3><mat-icon style="color: azure;">save</mat-icon>
                <p class="fs-4 text-primary cabecera">Tecnologías:</p>
                <ul>
                    <li>NodeJS</li>
                    <li>.NET</li>
                    <li>Laravel</li>
                    <li>MongoDB</li>
                    <li>MySql</li>
                    <li>PostgreSQL</li>
                    <li>Oracle PL/SQL</li>
                    <li>SQL.SERVER</li>
                </ul>
                <p class="fs-4 text-primary cabecera">Experiencia:</p>
                <ul>
                    <li>Web APIs</li>
                    <li>ASP.NET Core MVC</li>
                    <li>Entity framework</li>
                    <li>Eloquent</li>
                    <li>Express</li>
                    <li>Apache</li>
                    <li>Valid y required</li>
                </ul>
            </div>
        
            <div class="col-10 col-sm-6 col-md-4  habilidades bg-dark bg-opacity-75">
                <i class="bi bi-code-slash"></i>
                <h3 class="fs-1 text-white text-opacity-75">FRONTEND</h3><mat-icon style="color: azure;">computer</mat-icon>
                <p class="fs-4 text-primary cabecera">Tecnologías:</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>ANGULAR</li>
                    <li>ASP.NET</li>
                    <li>REACT</li>
                    <li>Bootstrap</li>
                    <li>Tailwind</li>
                    <li>Vue.js</li>
                </ul>
                <p class="fs-4 text-primary cabecera">Experiencia:</p>
                <ul>
                    <li>React Hooks</li>
                    <li>Angular Material</li>
                    <li>Blazor WASM</li>
                    <li>jQuery</li>
                    <li>Pruebas unitarias</li>
                    <li>Responsible</li>
                    <li>UI/UX</li>
                </ul>
            </div>
        </div>
    
        <div class="text-center py-5">
            <button class="btn btn-outline-success btn-lg" type="submit" (click)="getCV()">DESCARGAR CV</button>
        </div>
    </div>
</div>
