<div class="container">
    <div class="text-center text-success my-4">
        <h1>Proyectos</h1>
        <h2>Mis trabajos recientes</h2>
        <p>aquí puedes ver algunos de mis trabajos más recientes.</p>
    </div>

    
    <div class="projects">
        <div class="row row-cols-2 row-cols-md-3 g-4">
                 
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/img/prestamoP.jpg" class="card-img-top" alt="imagen proyecto" />
                        <div class="card-body">
                            <h5 class="card-title text-danger">SISTEMAS DE PRESTAMOS</h5>
                            <p class="card-text text-success">Es un sistema para gestionar prestamos y cobros diarios utíl para prestamos a negocios y tener el registro total de prestamos y cobros que se hicieron por día, mes o año</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="https://procompu.net.pe/prueba/" target="_blank" rel="noreferrer">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/img/githud.jpg" class="card-img-top" alt="imagen proyecto" />
                        <div class="card-body">
                            <h5 class="card-title text-danger">MI GIT HUD</h5>
                            <p class="card-text text-success">Por aquí puede acceder a mi github y ver mis repositorios publicos ver el código fuente, los lengujes y metodologias utilizadas para el desarollo</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="https://github.com/BaybyPro" target="_blank" rel="noreferrer">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/img/e-comerce.jpg" class="card-img-top" alt="imagen proyecto" />
                        <div class="card-body">
                            <h5 class="card-title text-danger">E-commerce</h5>
                            <p class="card-text text-success">Una tienda online de componentes tecnológicos con carrito de compras sistema de usuario y admin automatizado para la compra via deposito</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-danger"  rel="noreferrer">En mantenimiento</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../../../assets/img/programs.png" class="card-img-top" alt="imagen proyecto" />
                        <div class="card-body">
                            <h5 class="card-title text-danger">Futuro proyecto</h5>
                            <p class="card-text text-success">confidencial</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-success"  rel="noreferrer">En proceso...</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
